@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply bg-red-500 text-black !border-red-500;
    }

    .disabled {
        @apply !bg-zinc-700 !text-zinc-900 hover:!shadow-none;
    }
}

@layer base {
    html {
        font-family: 'Roboto Mono', monospace;
    }

    /* Special styling for WebKit/Blink */
    input[type='range']::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        margin-top: -5px;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        border-radius: 50%;
        position: relative;
        z-index: 99;
        @apply bg-white;
    }

    input[type='range']::-webkit-slider-thumb:hover {
        box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.5), 0 0 0 5px rgba(239 68 68 0.1);
    }

    /* Special styling for WebKit/Blink */
    input[type='range']::-webkit-slider-runnable-track {
        width: 24px;
        @apply h-2;
        -webkit-appearance: none;
        appearance: none;
    }
}
